<h2>All Provinces & Tax Rates</h2>
<table>
  <tr>
    <th>Name</th>
    <th>GST</th>
    <th>PST</th>
    <th>HST</th>
    <th>Edit</th>
  </tr>
  <% @provinces.each do |province| %>
    <tr>
      <td><%= province.name %></td>
      <td><%= province.gst %></td>
      <td><%= province.pst %></td>
      <td><%= province.hst %></td>
      <td><%= link_to "Edit", edit_province_path(province) %></td>
    </tr>
  <% end %>
</table>
